* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: 400 24px/1.5 tahoma;
  color: rgb(46, 24, 24);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  padding-top: 50px;
}
.nav-item {
  margin: 0 30px;
  font-size: 28px;
}

.nav-link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(46, 24, 24);
  transition: color 0.3s;
}

a:hover {
  color: rgb(243, 223, 223);
}

.nav-list {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 1440px;
  height: 90px;
  margin: 0;
  padding: 0 20px;
  background-color: rgb(142, 162, 163);
}

pre {
  line-height: 1;
}

#profile {
  display: flex;
}

.section-profile {
  width: 50%;
  margin-top: 30px;
  text-align: center;
}

.section {
  margin-left: 30px;
  padding-top: 40px;
}

.section-title {
  margin-left: 50px;
  padding-top: 20px;
  font-style: italic;
}

.section-title-name {
  font-size: 45px;
  font-style: italic;
}

.img-profile {
  display: flex;
  padding-top: 40px;
  padding-left: 100px;
}

.section-profile-logo {
  border-radius: 50%;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(142, 162, 163);
}

.year {
  padding-left:  20px;
}

.rss {
  padding-right: 20px;
}